aiohappyeyeballs
aiohttp
aiosignal
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
click
dotenv
frozenlist
idn
markdown-it-py
mdurl
multidict
propcache
pygments
python-dotenv
pyyaml
requests
rich
soupsieve
starred-repo-finder
tqdm
typing-extensions
urllib3
yarl
